<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="api.utilities.XtentReporting"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/ankit.kumar39/AutoWarehouse/PetStoreAutomation">
        <classes>
            <class name="api.test.DataDrivenTests">
                <methods>
                    <include name="createUserMethod"/>
                    <include name="getUserMethod"/>
                    <include name="deleteUserMethod"/>
                </methods>
            </class>
            <class name="api.test.UserTests">
                <methods>
                    <include name="createUserTest"/>
                    <include name="getUserTest"/>
                    <include name="updateUserTest"/>
                    <include name="deleteUserTest"/>
                </methods>
            </class>
            <class name="api.test.UserTests1"/>
        </classes>
    </test>
</suite>